@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');


:root{
    --background-color: #fff;
    --orange-color: #FD7C1D;
    --blue-color: #e2febb;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 30px 0 30px;
}

header > .logo{
    color: var(--orange-color);
    cursor: pointer;
}

header > .nav-menu ul{
    display: flex;
    align-items: center;
}

header > .nav-menu li{
    list-style: none;
    margin-right: 2.5rem;
    cursor: pointer;
    font-weight: 200;
}

header > .nav-menu li::after{
    content: '';
    height: 2px;
    background-color: var(--orange-color);
    width: 0%;
    display: block;
    transition: all .5s ease-in-out;
}

header > .nav-menu li:hover::after{
    content: '';
    height: 2px;
    background-color: var(--orange-color);
    width: 100%;
    display: block;
    transition: all .5s;
}


header > .nav-menu li:last-child{
    margin-right: 0;
}


.container-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 30px;
}

.container-top > .container-info p{
    font-weight: bolder;
    font-size: 40px;
    line-height: 45px;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-bottom: 20px;
}

.container-top > .container-img img{
    object-fit: cover;
    max-width: fit-content;
}

.container-top .container-info button{
    display: block;
    margin-top: 40px;
    padding: 10px 25px;
    font-weight: 300;
    border-radius: 30px;
    border: none;
    background-color: var(--orange-color);
    color: var(--background-color);
    box-shadow: 2px 2px 10px black;
}

h1{
    margin-left: 30px;
}

.container-bottom{
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.container-bottom > .box{
    height: 300px;
    width: 280px;
    border-radius: 20px;
    margin-right: 20px;
    margin-top: 10px;
    transition: all 1s ease-in;
    display: flex;
    align-items: center;
}

.container-bottom > .box:hover{
    background-color: var(--blue-color);
    transition: all .8s ease-out;
}

.container-bottom > .box img{
    margin: auto;
    height: 160px;
    background-color: var(--blue-color);
    border-radius: 80% 72%  47% 37%;
}

.container-bottom > .two img{
    margin: auto;
    height: 160px;
    background-color: var(--blue-color);
    border-radius: 20% 71%  33% 99%;
}


.container-bottom > .three img{
    margin: auto;
    height: 160px;
    background-color: var(--blue-color);
    border-radius: 30% 42%  77% 17%;
}


.container-bottom > .four img{
    margin: auto;
    height: 160px;
    background-color: var(--blue-color);
    border-radius: 80% 72%  87% 97%;
}


.container-bottom > .five img{
    margin: auto;
    height: 160px;
    background-color: var(--blue-color);
    border-radius: 90% 92% 46% 55% 17%;
}